body{
    background-image: url("../src/back.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ФУТЕР */
footer{
    color: gray;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
}

/* МЕНЮ */
.menu{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 100px);
    justify-content: end;
    text-align: center;
}

.menu p > a{
    text-decoration: none;
    color: black;
}

.menu p{
    font-family: Arial;
    line-height: 2em; 
    margin: 0px;
}

.menu .active{
    background-color: rgb(77, 171, 245);
    border-radius: 5px 5px 0px 0px;
}

.menu .active > a{
    color: white;
}


/* БЛОК ПОИСКА И ЗАГОЛОВОК */
.header{
    display: grid;
    width: 100%;
    height: 60px;
    grid-template-columns: repeat(2, 240px);
    justify-content: space-between;
    background-color: rgb(77, 171, 245);
    align-content: center;
}

.header p{
    font-family: Arial;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 25px;
    padding: 0px;
    margin: 0px 10px;
}

.header .search #button{
    background-color: rgb(23, 105, 175);
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 4px;
}

/* ВЕРХНИЙ БЛОК ИЗОБРАЖЕНИЙ */
.head-pictures{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    margin: 20px auto;
    width: 80%;
    height: 350px;
}

.head-pictures div{
    overflow: hidden;
}


.head-pictures img{
    width: 100%;
    height: 100%;
}

.head-pictures .left-big{
    grid-area: 1/1/7/7;
}

.head-pictures .small1{
    grid-area: 1/7/4/10; 
}

.head-pictures .small2{
    grid-area: 4/7/7/10; 
}

.head-pictures .bottom{
    grid-area: 7/1/10/10;
}

/* БЛОК С ИЗОБРАЖЕНИЯМИ И ТЕКСТОМ*/

.picture-text{
    /* background-color: aqua; Границы */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    /* margin: 2%; */
}
.picture-text img{
    width:70%;
    height:70%;
    margin: 0px;
    border: 2px solid rgb(8,121,144);
}

.picture-text p{
    font-size: 1vw;
    line-height: 1vw;
    margin: 0px;
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.picture-text .tittle{
    margin: 0px;
    font-weight: bold;
}

/* ОБЩЩИЙ БЛОК  */
.picture-summary{
    display: flex;
    width: 80%;
    margin: 2% auto;
    justify-content: center;
    /* background-color: azure; */
    text-align: center;
}
.left-pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 12.5%;
}

.right-pictures{
    display: flex;
    flex-wrap: wrap;
    width: 12.5%;
    justify-content: center;
}

.middle-block{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-evenly;
    overflow: hidden;
}

/* ТЕКСТ С КОРТИНКОЙ БОЛЬШОЙ БЛОК */
.summary-text{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.4fr 1fr 1fr;
    border: solid thick black;  
    width: 100%;
    overflow: hidden;
    padding: 1%;
    grid-column-gap: 1%;
}

.summary-text img{
    width: 100%;
    height: 100%;
    grid-area: 2/2/4/4;
}

.summary-text h2{
    grid-area: 1/2/2/4;
}

.left-text{
    margin: 0px;
    text-align: justify;
    font-size: 1.1vw;
    grid-area: 2/1/4/2;
}

.right-text{
    margin: 0px;
    text-align: justify;
    font-size: 1.1vw;
    grid-area: 2/4/4/5;
}

.summary-text a{
    color: grey;
}


/* МЕДИА ЗАПРОС */
@media all and (max-width: 600px){

    /* МЕНЮ */
    .menu{
        grid-template-columns: repeat(2, 100px);
        justify-content: space-evenly;
    }

    .menu .active{
        border-radius: 5px;
    }
    
    /* БЛОК ПОИСКА И ЗАГОЛОВОК */
    .header{
        padding: 10px 0px;
        grid-row-gap: 10px;
        grid-template-columns: repeat(1, 240px);
        justify-content: center;
        justify-items: center;
    }
}

@media all and (max-width: 900px){

    /* ВЕРХНИЙ БЛОК ИЗОБРАЖЕНИЙ */
    .head-pictures{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 80%;
        height: 250px;
    }

    .head-pictures .left-big{
        grid-area: 1/1/2/3;
    }

    .head-pictures .small1{
        grid-area: 2/1/3/2; 
    }

    .head-pictures .small2{
        grid-area: 2/2/3/3; 
    }

    .head-pictures .bottom{
        grid-area: 3/1/4/3;
    }
}

@media all and (max-width: 1200px){
    
    /* БЛОК С ИЗОБРАЖЕНИЯМИ И ТЕКСТОМ*/
    .picture-text{
        width: 300px;
        height: 300px;
    }

    .picture-text p{
        font-size: 20px ;
        line-height: 20px;
        width: 100%;
    }

    /* ОБЩЩИЙ БЛОК  */
    .picture-summary{
        flex-direction: column;
        align-items: center;
    }
    
    .left-pictures{
        width: 350px;
        order: 1;
    }

    .right-pictures{
        width: 350px;
        order : 2;
    }

    .middle-block{
        flex-direction: column;
        order: 3;
        align-items: center;
        width: 100%;
    }

    /* ТЕКСТ С КОРТИНКОЙ БОЛЬШОЙ БЛОК */
    .summary-text{
        display: flex;
        flex-direction: column;
        width: 90%; 
        align-items: center;
    }

    .summary-text img{
        width: 95%;
        height: 95%;
    }

    .summary-text h2{
        margin: 5px;
    }

    .left-text{
        margin: 5px;
        font-size: 16px;
    }

    .right-text{
        margin: 5px;
        font-size: 16px;
    }
}